/* Estilos para la Página de Historial de Reservas */
.historial-reservas {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.lista-reservas {
    list-style: none;
    padding: 0;
}

.lista-reservas li {
    margin-bottom: 20px;
}

.reserva {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
}

.ver-detalles {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ver-detalles:hover {
    background-color: #0056b3;
}
